<div class="container">
  <div class="card">
    <br/>
      <h2>ToDO List</h2>
      <br/>
      <div id="first">
        <input (input)="addText($event)" id="inp">
        <button (click)="addTask()">Add Task</button>
      </div>
      
      <br/>
      <img *ngIf="tasks.length===0" src="assets/what.png" width="130">
    
      <div *ngFor="let i of tasks; let ind = index" id="task">
        <input type="checkbox" (input)="taskCompleted(ind)">
        <li style="list-style: none;">{{i}} </li>
        <img src="assets/image.png" style="cursor: pointer;" (click)="deleteTask(ind)"width="20">
       
      </div>
      <h2 *ngIf="completed.length!=0">Completed Task:</h2>
      <li *ngFor="let j of completed" style="list-style: none; text-decoration: line-through;">{{j}}</li>

    
    

     
  </div>
</div>